
<table class="table" width="100%" >
  <thread>
    <tr>
      <td><h1>Tasks</h1></td>
      <td style=vertical-align:bottom align="right"><button class="btn btn-small btn-inverse" type="button"><%= link_to 'New Task', new_project_task_path(@project) %></h5></button></td>
    </tr>
  </thread>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td width="100%"><%= task.description %></td>
        <td align="right"><button class="btn btn-small btn-primary" type="button"><%= link_to 'Show', task %></button></td>
        <td align="right"><button class="btn btn-small btn-primary" type="button"><%= link_to 'Edit', edit_task_path(task) %></button></td>
        <td align="right"><button class="btn btn-small btn-primary" type="button"><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
