<div class= "page-header">
  <h2>Memberships for <%= @project.name %></h2>
</div>

<%= render "layouts/errors", object: @membership %>


<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to  @project.name, project_path(@project) %></li>
  <li class="active">Memberships</li>
</ol>


<div class="well form-inline">
<%= form_for [@project, @membership] do |f| %>

  <div class="form-group">
    <%= f.label :user_id %>
    <em>
    <%= f.collection_select(
        :user_id,
        User.all,
        :id,
        :first_name,
        {include_blank: true},
        {class: "form-control"}
        ) %>
    </em>
  </div>

  <div class="form-group">
    <%= f.select :role, ["member", "owner"],{}, {class: "form-control"} %>
  </div>

  <%= f.submit class:"btn btn-primary" %>

<% end %>
</div>

<table>
      <tr>
      <br>
    <!-- <% @project.users.each do |user| %> and add this to the next line "user"..remove '@'-->
      <% @memberships.each do |m| %>
        <%= form_for [@project, m] do |f| %>
          <td class="col-sm-2"><%= link_to "#{user.first_name} #{user.last_name}",
          project_membership_path(@project, m) %></td>
          <td class="col-sm-2"><%= f.select :role, ["member", "owner"],{},
          {class: "form-control"} %></td>
          <td class="col-sm-2"><%= f.submit %></td>
          <td>&nbsp;&nbsp;<%= link_to "", project_membership_path(@project, m),
          method: :delete, class:"glyphicon glyphicon-remove" %></td>
      </tr>
    <!-- <% end %> -->
    <% end %>
  <% end %>
</table>
