
<div class= "page-header">
  <h2>Memberships for <%= @project.name %></h2>
</div>

<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to  @project.name, project_path(@project) %></li>
  <li class="active">Memberships</li>
</ol>


<div class="row">
  <div class="col-xs-6">
    <%= render "layouts/errors", object: @membership %>
  </div>
</div>

<% if current_user.memberships.find_by(
  project_id: @project,
  user_id: current_user,
  role: "owner")%>
  <div class="well form-inline">
    <%= form_for [@project, @membership] do |f| %>

      <div class="form-group">
        <%= f.collection_select(
              :user_id,
              User.all,
              :id,
              :full_name,
              {include_blank: "Please select a user"},
              {class: "form-control"}
            ) %>
      </div>

      <div class="form-group">
        <%= f.select :role, ["member", "owner"],{}, {class: "form-control"} %>
      </div>

      <%= f.submit "Add New Member", class:"btn btn-primary" %>

    <% end %>
  </div>
<% end %>


<table>
  <tr>
    <% @project.users.each do |u| %>
      <% u.memberships.where(project_id: @project.id).each do |m| %>
        <%= form_for [@project, m] do |f| %>
          <td class="col-sm-3"><br>
            <%= link_to "#{u.full_name}",
            user_path(u) %>
          </td>
          <% if current_user.memberships.find_by(
            project_id: @project,
            user_id: current_user,
            role: "owner")%>
          <td class="col-sm-2"><br>
            <%= f.select :role, ["member", "owner"],{},
            {class: "form-control"} %>
          </td>
          <td class="col-sm-2"><br>
            <%= f.submit "Update", class:"btn btn-primary"%>
          </td>
          <td><br>
            <% if @project.memberships.where(role: "owner").count > 1 || m.role == "member" %>
              <%= link_to "", project_membership_path(@project, m),
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class:"glyphicon glyphicon-remove"  %>
            <% end %>
          </td>
          <% end %>
        <% end %>
          <td>
            <% if current_user.memberships.find_by(
              project_id: @project,
              user_id: current_user,
              role: "member")%>
              <br><%= m.role %>
          </td>
        <% end %>
      <% end %>
  </tr>
    <% end %>
</table>
