<%= form_for(@task, html: {class: "form-horizontal"}) do |f| %>

<% if @task.errors.present? %>
  <ul class="alert alert-danger">
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


  <div class="field form-group">
    <%= f.label :description, class:"col-xs-1" %>
    <div class="col-xs-4">
      <%= f.text_field :description, class:"form-control" %>
    </div>
  </div>


  <div class="form-group row">
    <%= f.label :due_date, "Due Date", class:"col-xs-1" %>
    <div class="col-xs-4">
    <%= f.date_field :due_date, class:"form-control" %>
    </div>
  </div>









<% if @task.id? %>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <div class="checkbox">
        <label>
          <%= f.check_box :complete %>
          Complete
        </label>
      </div>
    </div>
  </div>
<% end %>

<br>

  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <%= f.submit class:"btn btn-primary" %>
    </div>
  </div>


<% end %>

</form>
