<div class="page-header">
  <h2><% title %> Task</h2>
</div>






<%= form_for [@project, @task], html: {class: "form-horizontal col-xs-6"} do |f| %>

<div class="col-xs-offset-4 col-xs-12">
  <%= render "layouts/errors", object: @task %>
</div>

<div>

  <div class="field form-group">
    <%= f.label :description, class:"col-xs-4" %>
    <div class="col-xs-8">
      <%= f.text_field :description, class:"form-control" %>
    </div>
  </div>


  <div class="form-group row">
    <%= f.label :due_date, "Due Date", class:"col-xs-4" %>
    <div class="col-xs-8">
    <%= f.date_field :due_date, class:"form-control" %>
    </div>
  </div>


<% if @task.id? %>
  <div class="form-group">
    <div class="col-xs-offset-4 col-xs-8">
      <div class="checkbox">
        <label>
          <%= f.check_box :complete %>
          Complete
        </label>
      </div>
    </div>
  </div>
<% end %>

<br>

  <div class="form-group">
    <div class="col-xs-offset-4 col-xs-8">
      <%= f.submit class:"btn btn-primary" %>
    </div>
  </div>


<% end %>

<%= link_to 'Back', project_tasks_path(@project) %>
</div>
