
<div class= "page-header">
<div class= "pull-right">
  <%= link_to_if !params[:filter], "All", project_tasks_path(filter:"all") %> |
  <%= link_to_if params[:filter], "Incomplete", project_tasks_path %>
  <%= link_to 'New Task', new_project_task_path, class: "btn btn-primary" %>
</div>

  <h2>Tasks for <%= @project.name %></h2>
</div>


<% if notice.is_a? String %>
  <div class="text-center alert alert-info"><%= notice %></div>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to  @project.name, project_path(@project) %></li>
  <li class="active">Tasks</li>
</ol>

<table class="table datetime">
<thead>
    <th>Description</th><th></th><th width="100px", class="text-center">Due Date</th><th>Complete</th><th></th><th></th><th></th>
    <% @tasks.each do |task| %>
  </thead>
      <tr>
        <td><%= link_to task.description, project_task_path(@project, task) %>
          <%= link_to (task.comments.count),
           project_task_path(@project, task), class:"badge badge-info" %>
        </td>
        <td></td>
        <td width="100px", class="text-center">
          <% if task.due_date %>
            <%= task.due_date.strftime("%m/%d/%Y") %>
          <% end %>
        </td>
        <td width="30px", class="text-center">
          <%= task.complete %>
        </td>
        <td width="30px">
          <%= link_to 'Edit', edit_project_task_path(@project, task), class: "pull-right btn btn-info" %>
        </td>
        <td width="30px">
          <%= link_to '', project_task_path(@project, task), class: "pull-right btn btn-danger", method: :delete, class:"glyphicon glyphicon-remove", id: "glyphicon-find-me", data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
</table>
