<h2>Task Details</h2>

<table class="table" width="100%">
      <tr>
<% if notice.is_a? String %>

<div class="text-center alert alert-info"><%= notice %></div>
<% end %>
<br>
<br>
<br>

        <tr>
          <td width="100%" class="pull-left">
            <strong>Description: </strong>
              <%= @task.description %>
          </td>
        </tr>


        <tr>
          <td width="100%" class="pull-left">
            <strong>Due Date: </strong>
              <%  if @task.due_date != nil %>
                <%= @task.due_date.strftime("%m/%d/%Y") %>
              <% end %>
          </td>
        </tr>


        <tr><td width="100%" class="pull-left"><strong>Complete: </strong><%= @task.complete %></td></tr>
      </tr>
</table>







<%= link_to 'Edit', edit_project_task_path(@project, @task) %> |
<%= link_to 'Back', project_tasks_path(@project) %>
