<div class= "page-header">
    <div class= "pull-right">
      <%= link_to 'Edit', edit_project_task_path(@project, @task), class: "btn btn-info" %>
    </div>
  <h2><%= @task.description %></h2>
</div>


<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to  @project.name, project_path(@project) %></li>
  <li><%= link_to  "Tasks", project_tasks_path(@project, @tasks) %></li>
  <li class="active">Show</li>
</ol>

<table class="table" width="100%">
    <tr>
      <td width="100%" class="pull-left">
        <strong>Due Date: </strong>
          <%  if @task.due_date != nil %>
            <%= @task.due_date.strftime("%m/%d/%Y") %>
          <% end %>
      </td>
    </tr>
    <tr>
      <td width="100%" class="pull-left">
        <strong>Complete: </strong>
        <%= @task.complete %>
      </td>
    </tr>
  </tr>
</table>




<table class="table">
  <thead>
      <th>
        Comments
      </th>
      <th class:"col-md-12"></th>
    </tr>
  </thead>
  <tbody>
    <% @task.comments.all.each do |comment| %>
      <tr>
          <td class="col-md-3">
            <%= link_to "#{comment.user.first_name} #{comment.user.last_name}", user_path(comment.user_id) %>
            <br>
            <span class="text-muted">
              <%= time_ago_in_words (comment.updated_at) %> ago
            </span>
          </td>
          <td class="col-md-9">
            <%= comment.details %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>




<%= form_for [@project, @task, @comment], html: {class: "form-horizontal"} do |f| %>

  <div class="form-group row">
    <div class="col-md-offset-3 col-md-9">
    <%= f.text_area :details, autofocus: true, class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-offset-3 col-md-9">
      <%= f.submit class:"btn btn-primary" %>
    </div>
  </div>

<% end %>



<br><br>
