<div class= "page-header">
    <div class= "pull-right">
      <%= link_to 'Edit', edit_project_task_path(@project, @task), class: "btn btn-info" %>
    </div>
  <h2><%= @task.description %></h2>
</div>


<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to  @project.name, project_path(@project) %></li>
  <li><%= link_to  "Tasks", project_tasks_path(@project, @tasks) %></li>
  <li class="active">Show</li>
</ol>

<table class="table" width="100%">
    <tr>
      <td width="100%" class="pull-left">
        <strong>Due Date: </strong>
          <%  if @task.due_date != nil %>
            <%= @task.due_date.strftime("%m/%d/%Y") %>
          <% end %>
      </td>
    </tr>
    <tr>
      <td width="100%" class="pull-left">
        <strong>Complete: </strong>
        <%= @task.complete %>
      </td>
    </tr>
  </tr>
</table>


<h4>Comments</h4>
<br>
<% @task.comments.all.each do |comment| %>
<div class="row">

  <div class="col-xs-3">
    <%= link_to "#{comment.user.first_name} #{comment.user.last_name}",
    user_path(comment.user_id) %>
    <div class="text-muted">
      <%= time_ago_in_words (comment.updated_at) %> ago
    </div>
  </div>

  <div class="col-xs-3">
    <%= comment.details  %>
  </div>

</div>
<br>

<% end %>



<%= form_for [@project, @task, @comment], html: {class: "form-horizontal"} do |f| %>

  <div class="form-group row">
    <div class="col-md-offset-3 col-md-9">
    <%= f.text_area :details, autofocus: true, class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-offset-3 col-md-9">
      <%= f.submit class:"btn btn-primary" %>
    </div>
  </div>

<% end %>



<br><br>
