<h2>Task Details</h2>

<table class="table" width="100%">
      <tr>
<% if notice.is_a? String %>

<div class="text-center alert alert-info"><%= notice %></div>
<% end %>
<br>
<br>
<br>

        <tr><td width="100%" class="pull-left"><strong>Description: </strong><%= @task.description %></td></tr>
        <tr><td width="100%" class="pull-left"><strong>Due Date: </strong><%= @task.due_date %></td></tr>
        <tr><td width="100%" class="pull-left"><strong>Complete: </strong><%= @task.complete %></td></tr>
      </tr>
</table>



<%= link_to 'Edit', edit_task_path %> |
<%= link_to 'Back', tasks_path %>
