
 <div class= "page-header">
  <%= link_to 'New User', new_user_path, class: "btn btn-primary pull-right" %>
  <h2>Users</h2>
</div>


<% if notice.is_a? String %>
  <div class="text-center alert alert-info"><%= notice %></div>
<% end %>



<table class="table" width="100%">
    <thead>
      <th class:"col-xs-2">Name</th><th class:"col-xs-2">Email</th><th></th>
    </thead>
      <% @users.each do |user| %>
        <tr>
        <td><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></td>


        <td><%= mail_to user.email %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: "pull-right" %></td>
        </tr>

      <% end %>
</table>
