<div class="page-header">
  <h2>New User</h2>
</div>



<div class= "form-horizontal col-md-10">
<br>
i am here

<%= form_for @user, url: users_path(@user) do |f| %>

<% if @user.errors.present? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="form-group row">
  <%= f.label :first_name, class:"col-xs-3" %>
  <div class="col-xs-4">
  <%= f.text_field :first_name, class:"form-control" %>
  </div>
</div>

<div class="form-group row">
  <%= f.label :last_name, class:"col-xs-3" %>
  <div class="col-xs-4">
  <%= f.text_field :last_name, class:"form-control" %>
  </div>
</div>

<div class="form-group row">
  <%= f.label :email, class:"col-xs-3" %>
  <div class="col-xs-4">
  <%= f.email_field :email, class:"form-control" %>
  </div>
</div>

<div class="form-group row">
  <%= f.label :password, class:"col-xs-3" %>
  <div class="col-xs-4">
  <%= f.password_field :password, class:"form-control" %>
  </div>
</div>

<div class="form-group row">
  <%= f.label :password_confirmation, class:"col-xs-3" %>
  <div class="col-xs-4">
  <%= f.password_field :password_confirmation, class:"form-control" %>
  </div>
</div>

<br>

<div class="form-group row">
  <div class="col-xs-offset-3 col-sm-10">
  <%= f.submit class:"btn btn-primary"  %>
  </div>
</div>

<% end %>





</form>


<br>
<%= link_to 'Back', users_path %>
