<div class="page-header">
  <% if @user.id == current_user.id || current_user.admin %>
    <%= link_to 'Edit', edit_user_path, class: "btn btn-info pull-right" %>
  <% end %>
  <h2><%= @user.full_name %></h2>
</div>

<table class="col-xs-12">

  <tr>
    <td>
      <strong class="col-xs-2 text-right">
        First Name:
      </strong>
      <%= @user.first_name %>
    </td>
  </tr>

  <tr>
    <td>
      <strong class="col-xs-2 text-right" >
        Last Name:
      </strong>
      <%= @user.last_name %>
    </td>
  </tr>

  <tr>


    <% if @user.id == current_user.id || current_user.admin || (current_user.projects & @user.projects).any? %>
      <td>
        <strong class="col-xs-2 text-right">
          Email:
        </strong>
        <%= mail_to @user.email %>
      </td>
    <% end %>
  </tr>

  <% if @user.pivotal_tracker_token? %>

    <tr>
      <td>
        <strong class="col-xs-2 text-right">
          Pivotal Tracker Token:
        </strong>
        <%= "#{@user.pivotal_tracker_token[0 .. 3]}**************************" %>

      </td>
    </tr>
  <% end %>
</table>
