<div class="page-header">
</div>

<div class= "well form col-md-4 col-sm-offset-4">
  <h2>Sign Up!</h2>
<br>

<%= form_for @user, url: signup_path do |f| %>

  <%= render "layouts/errors", object: @user %>

    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit class:"btn btn-primary"  %>
    </div>

<% end %>
</div>
