<div class="page-header">


</div>

<div class= "well form-horizontal col-md-4 col-sm-offset-4">
<h2>Sign Up!</h2>
<br>

<%= form_for @user, url: signup_path do |f| %>

  <% if @user.errors.present? %>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :first_name %>
  </div>
  <div>
    <%= f.text_field :first_name, class:"form-control" %>
  </div>

  <div>
    <%= f.label :last_name %>
  </div>
  <div>
    <%= f.text_field :last_name, class:"form-control" %>
  </div>

  <div>
    <%= f.label :email %>
  </div>
  <div>
    <%= f.email_field :email, class:"form-control" %>
  </div>

  <div>
    <%= f.label :password %>
  </div>
  <div>
    <%= f.password_field :password, class:"form-control" %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
  </div>
  <div>
    <%= f.password_field :password_confirmation, class:"form-control" %>
  </div>

  <br>
  <div>
    <%= f.submit class:"btn btn-primary"  %>
  </div>

<% end %>
</div>
