<div class="page-header">


</div>

<div class= "well form-horizontal col-md-4 col-sm-offset-4">
<h2>Sign into gCamp</h2>


<%= form_tag signin_path do |f| %>

  <% if @sign_in_error %>
    <p>
      <%= @sign_in_error %>
    </p>
  <% end %>




<div>
    <%= label_tag :email %>
  </div>
  <div>
    <%= email_field_tag :email, nil, class:"form-control" %>
  </div>

  <div>
    <%= label_tag :password %>
  </div>
  <div>
    <%= password_field_tag :password, nil, class:"form-control" %>
  </div>

<br>

  <div>
    <%= submit_tag "Sign in" %>
  </div>



<% end %>


</div>
