<div class="page-header">
  <h2><%= title %> Project</h2>
</div>


<%= form_for [@project], html: {class: "form-horizontal"} do |f| %>

  <div class="form-group">
    <div class="col-xs-offset-1 col-xs-6">
      <%= render "layouts/errors", object: @project %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, class:"col-xs-1" %>
    <div class="col-xs-4">
      <%= f.text_field :name, class:"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-offset-1  col-xs-4">
      <%= f.submit class:"btn btn-primary" %>
    </div>
  </div>

<% end %>
