<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>gCamp: Drew Cuddhy</title>

    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>

    <%= stylesheet_link_tag 'application' %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>


  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="background-color: rgba(0, 0, 0, 0)">

  <div class="container" >

    <br>

    <% if notice.is_a? String %>
      <div class="text-center alert alert-info">
        <%= notice %>
      </div>
    <% end %>

    <%= yield %>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-brand">
            <%= link_to "gCamp", root_path %>
          </div>
          <div class="navbar-brand pull-right">
            <% if current_user %>
            <%= link_to "#{current_user.first_name} #{current_user.last_name}",
                user_path(session[:user_id]) %> &nbsp; &nbsp;
              <%= link_to "Sign Out", signout_path %>
            <% else %>
            <%= link_to "Sign Up", signup_path %>
            &nbsp; <span style="color:white">|</span> &nbsp;
            <%= link_to "Sign In", signin_path %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>




      <footer class="container">
        <hr>
        <div class="col-md-8">
          <%= link_to "About", about_gCamp_path %> |
          <%= link_to "Terms", terms_gCamp_path %> |
          <%= link_to "FAQ", faq_gCamp_path %> |
          <%= link_to "Users", users_path %> |
          <%= link_to "Projects", projects_path %>
        </div>

        <div class="col-md-2 col-md-offset-2 box">
          <%= link_to "http://linkedin.com/in/drewcuddhy", target: "_blank" do %>
            <%= image_tag("Linked_In.png", width: "20em") %>
          <% end %>

          <%= link_to "http://twitter.com/dcuddhy", target: "_blank" do %>
            <%= image_tag("Twitter.png", width: "20em") %>
          <% end %>

          <%= link_to "https://github.com/dcuddhy", target: "_blank" do %>
            <%= image_tag("GitHub.png", width: "20em") %>
          <% end %>

          <%= link_to "http://www.galvanize.it/school/", target: "_blank" do %>
            <%= image_tag("g.png", width: "15em") %>
          <% end %>
        </div>

      </footer>

  </body>
</html>
